# Pandas:

In [2]:
import pandas as pd

In [3]:
paises = pd.DataFrame(
    {'Poblacion' : [1e7, 4e7, 6e7], 'Idioma' : ['Portugues', 'Espaniol', 'Frances']},
    index=['Portugal', 'Espania', 'Italia'])

In [5]:
paises['1970'] = ['Dictadura', 'Dictadura','Democracia']

In [6]:
paises

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [7]:
paises[['Idioma', 'Poblacion']]

             Idioma   Poblacion
Portugal  Portugues  10000000.0
Espania    Espaniol  40000000.0
Italia      Frances  60000000.0

In [11]:
# We can reindex, which might create missing data (NaNs, empty cells)

with_nas = paises.reindex(['Portugal', 'Francia', 'Espania', 'Italia'])
with_nas

In [12]:
with_nas.fillna(value=0)

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia           0         0.0           0
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [14]:
# We can fill them with a single value, with one per column, or with a method:

valores_por_defecto = {'Idioma' : 'Desconocido', 'Poblacion' : 0, '1970': 'Desconocido'}
with_nas.fillna(valores_por_defecto)

               Idioma   Poblacion         1970
Portugal    Portugues  10000000.0    Dictadura
Francia   Desconocido         0.0  Desconocido
Espania      Espaniol  40000000.0    Dictadura
Italia        Frances  60000000.0   Democracia

In [15]:
# None of these methods modify the DataFrame in place unless we specify
with_nas

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia         NaN         NaN         NaN
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [16]:
with_nas.fillna(method='ffill')

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia   Portugues  10000000.0   Dictadura
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [17]:
with_nas.fillna(method='bfill')

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia    Espaniol  40000000.0   Dictadura
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [18]:
with_nas

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia         NaN         NaN         NaN
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [23]:
with_nas['Poblacion']['Francia'] = 65e6

/home/dani/dev/master-data-science/06_python_for_data_science/env/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
with_nas

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia         NaN  65000000.0         NaN
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

### The axis argument

It will come up often. Tells pandas whether to apply an operation horizontally or vertically.

In [25]:
with_nas.dropna(axis=1)

           Poblacion
Portugal  10000000.0
Francia   65000000.0
Espania   40000000.0
Italia    60000000.0

In [26]:
with_nas.dropna(how='all')

             Idioma   Poblacion        1970
Portugal  Portugues  10000000.0   Dictadura
Francia         NaN  65000000.0         NaN
Espania    Espaniol  40000000.0   Dictadura
Italia      Frances  60000000.0  Democracia

In [27]:
with_nas.describe()

          Poblacion
count  4.000000e+00
mean   4.375000e+07
std    2.495830e+07
min    1.000000e+07
25%    3.250000e+07
50%    5.000000e+07
75%    6.125000e+07
max    6.500000e+07

In [30]:
type(with_nas.describe())

pandas.core.frame.DataFrame

In [29]:
with_nas.count()

Idioma       3
Poblacion    4
1970         3
dtype: int64

### Reading data from files

In [31]:
!ls

Class_2016_11_18.ipynb	Class_2016_11_19.ipynb

In [32]:
!ls ~/Data

ls: cannot access /home/dani/Data: No such file or directory

In [33]:
# This is the path in the masters' vm

path_to_data = '/home/dsc/Data'

In [34]:
# This is it in my machine:

path_to_data = '/home/dani/dev/master-data-science/data'

In [37]:
! ls {path_to_data}/opentraveldata/optd_aircraft.csv

/home/dani/dev/master-data-science/data/opentraveldata/optd_aircraft.csv

In [38]:
"%s/opentraveldata/optd_aircraft.csv" % path_to_data

'/home/dani/dev/master-data-science/data/opentraveldata/optd_aircraft.csv'

In [39]:
path = "%s/opentraveldata/optd_aircraft.csv" % path_to_data

In [40]:
open(path)

In [41]:
data_file = open(path)

In [42]:
type(data_file)

file

In [43]:
data_file.next()

'iata_code^manufacturer^model^iata_group^iata_category^icao_code^nb_engines^aircraft_type\n'

In [44]:
data_file.next()

'100^Fokker^100^100^2J^F100^2^J\n'

In [45]:
type(data_file.next())

str

In [52]:
data_file.next()

'14Z^BAe^146 Freighter (-300QT & QC)^14F^4J^B463^4^J\n'

In [53]:
data_file.seek(0)
data_file.next()

'iata_code^manufacturer^model^iata_group^iata_category^icao_code^nb_engines^aircraft_type\n'

In [54]:
data_file.seek(0)
header = data_file.next()
header.split('^')

['iata_code',
 'manufacturer',
 'model',
 'iata_group',
 'iata_category',
 'icao_code',
 'nb_engines',
 'aircraft_type\n']

### Exercise

How many models are there in the file `optd_aircraft.csv` that have two engines?

Do it without pandas so you'll appreciate how awesome pandas is ;P

In [56]:
contador = 0

data_file.seek(0)
for line in data_file:
    elements = line.split('^')
    nb_engines = elements[-2]
    
    if nb_engines == '2':
        contador += 1 # estrictamente equivalente a contador = contador + 1

contador

241

## Reading files into Dataframes

In [66]:
aircraft = pd.read_csv(path, '^')
aircraft.head(5)
aircraft.sample(5)

,iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
83,73S,Boeing,737-200 Advanced,73F,2J,B737,2.0,J
32,340,Airbus,A340,NaN,NaN,NaN,NaN,NaN
155,ABY,Airbus,A300-600F,ABF,2J,A306,2.0,J
327,ER4,Embraer,ERJ 145,ERJ,2J,E145,2.0,J
295,DF7,Dassault,Falcon 7X,DFL,3J,FA7X,3.0,J

In [71]:
# Exercise as before: How many 2-engine models?

num_correcto = aircraft['nb_engines'] == 2
dos_motores = aircraft[num_correcto]

dos_motores.count()['nb_engines']

241

In [75]:
# Another way:

(aircraft['nb_engines'] == 2).sum()

# And another:

len(aircraft[aircraft['nb_engines'] == 2])

241

In [81]:
# We can intersect (&) boolean Series and use that to select within the dataframe:

esairbus_tiene2motores = (aircraft['manufacturer'] == 'Airbus') & (aircraft['nb_engines'] == 2)

In [84]:
aircraft[esairbus_tiene2motores].sample(5)

,iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
13,318,Airbus,A318,32S,2J,A318,2.0,J
31,33X,Airbus,A330-200 Freighter,33F,2J,A332,2.0,J
21,32A,Airbus,A320 (sharklets),32S,2J,A320,2.0,J
25,32F,Airbus,A320 Freighter,32F,2J,A320,2.0,J
150,AB6,Airbus,A300-600,AB3,2J,A306,2.0,J

In [99]:
tienen_dos_motores = aircraft['nb_engines'] == 2

In [91]:
not tienen_dos_motores

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [101]:
# Element-wise not:

no_tienen_dos_motores = ~tienen_dos_motores

In [107]:
# We were using a range index. Much better to specify which column is a unique designator:

aircraft_bien = pd.read_csv(path, sep='^', index_col='iata_code')

In [118]:
print aircraft.index.name
print aircraft_bien.index.values[:20]
print len(aircraft.index.unique())

None
['100' '141' '142' '143' '146' '14F' '14X' '14Y' '14Z' '19D' '310' '312'
 '313' '318' '319' '31F' '31W' '31X' '31Y' '320']
457

In [119]:
# Indexes are immutable:

aircraft.index['100'] = 'coso'

TypeError: Index does not support mutable operations

### The `.str` attribute

It contains a lot of convenient vectorized string functions.

In [132]:
fabricantes = aircraft_bien['manufacturer']
fabricantes.str.lower()[:5]

iata_code
100    fokker
141       bae
142       bae
143       bae
146       bae
Name: manufacturer, dtype: object

In [133]:
aircraft_bien[fabricantes.str.startswith('P').fillna(False)]

,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
iata_code,,,,,,,
P18,Piaggio Aero,P180 Avanti II,P18,2T,P180,2.0,T
PA1,Piper,Piper single piston engine,PAG,1P,*,1.0,P
PA2,Piper,Piper twin piston engines,PAG,2P,*,2.0,P
PAG,Piper,Piper light aircraft,NaN,NaN,NaN,NaN,NaN
PAT,Piper,Piper twin turboprop engines,PAG,2T,*,2.0,T
PL2,Pilatus,PC-12,PL2,1T,PC12,1.0,T
PL6,Pilatus,PC-6 Turbo Porter,PL6,1T,PC6T,1.0,T
PN6,Partenavia,P.68,PN6,2P,P68,2.0,P

# Digression: Functional programming in Python

[Functional programming](https://en.wikipedia.org/wiki/Functional_programming) is a programming paradigm that uses functions, and specifically *pure* functions, as the core element with which to build programs. 

A key to functional programming are *higher order functions*, that is, functions that take other functions as arguments or that return other functions. The essential ones are *map()* and *reduce()*

#### Map 

`map()` takes a function and an iterable and returns an iterable that is the result of applying the function to each element of the iterable

In [138]:
enteros = [0, 1, 2, 3, 4]

def alcuadrado(num): return num ** 2

cuadrados = map(alcuadrado, enteros)
cuadrados

[0, 1, 4, 9, 16]

#### Reduce

`reduce()` also takes a function f and an iterable. f takes two arguments and returns one value of the same type. 

`reduce()` applies function f to the first 2 elements of the iterable, then to the result of that application and to the next element of the iterable, and so on until it has only one element, which it returns.

In [143]:
def suma_2_numeros(num_1, num_2): return num_1 + num_2

reduce(suma_2_numeros, enteros)

10

In [158]:
# Exercise: Implement a function maximo() as a reduce
# Ie, find the maximum number in a list using reduce().

# Do NOT use max()! where'd be the fun in that????

lista = [1,32,576,56,4,3,2,3]

def g(a, b): 
    if a > b:
        return a
    else: 
        return b

maximo = reduce(g, lista)
maximo

576

In [166]:
# Do not worry too much about this: it's a look at the insides of 
# reduce() so you see it's recursive

def mireduce(func, lista):
    if len(lista) == 0: return None
    elif len(lista) == 1: return lista[0]
    else:
        return func(lista[0], mireduce(func, lista[1:]))

In [165]:
mireduce(suma_2_numeros, cuadrados)

30

In [168]:
def h(a): return a % 2 == 0

print cuadrados
filter(h, cuadrados)

[0, 1, 4, 9, 16]

[0, 4, 16]

#### Filter

it's another very commonly used higher order function that takes a boolean function and a list.

In [ ]:
filter(lambda x: x % 2 == 0, cuadrados)

#### Anonymous functions in Python:

Specified with the lambda keyword

In [169]:
# These 2 are strictly equivalent

def suma_2_numeros(num_1, num_2): return num_1 + num_2
lambda x, y: x + y

# These 2 too

def alcuadrado(num): return num ** 2
lambda x: x ** 2

In [173]:
# Forma retorcidilla de hacerlo
alcuadrado = lambda x: x ** 2

In [172]:
alcuadrado(5)

25

In [175]:
reduce(suma_2_numeros, cuadrados) == reduce(lambda x, y: x + y, cuadrados)

True

## Apply to dataframes:

In [181]:
aircraft_bien['nb_engines'].map(alcuadrado).sample(5)

iata_code
TU3    4.0
BEH    4.0
73E    4.0
DHF    NaN
L49    NaN
Name: nb_engines, dtype: float64

In [184]:
# The prevous one is not super useful because we can 
# square elements in a Series easily, but it gives us 
# tremendous flexibility if we want to do something 
# a little more complicated.

(aircraft_bien['nb_engines'] ** 2).sample(5)

iata_code
ANF    16.0
M82     4.0
73N     4.0
MIH     NaN
FK7     4.0
Name: nb_engines, dtype: float64

In [190]:
# pd.DataFrame.apply

# Group by

Similar to its sql namesake.

In [209]:
groups = aircraft_bien.groupby('manufacturer')

# We can iterate over groups:

for k, group in groups:
    print k
    print group

ATR
          manufacturer             model iata_group iata_category icao_code  \
iata_code
AT4                ATR  ATR 42-300 / 320        ATR            2T      AT43
AT5                ATR        ATR 42-500        ATR            2T      AT45
AT7                ATR            ATR 72        ATR            2T      AT72
ATD                ATR        ATR 42-400        ATR            2T      AT44
ATF                ATR  ATR 72 Freighter        ATF            2T      AT72
ATR                ATR   ATR 42 / ATR 72        NaN           NaN       NaN
ATZ                ATR  ATR 42 Freighter        ATZ            2T         *

           nb_engines aircraft_type
iata_code
AT4               2.0             T
AT5               2.0             T
AT7               2.0             T
ATD               2.0             T
ATF               2.0             T
ATR               NaN           NaN
ATZ               2.0             T
Aerospatiale / SNIAS
                   manufacturer            model iata_group iata_category  \
iata_code
NDC        Aerospatiale / SNIAS  SN.601 Corvette        NDC            2J
SSC        Aerospatiale / SNIAS         Concorde        NaN           NaN

          icao_code  nb_engines aircraft_type
iata_code
NDC            S601         2.0             J
SSC             NaN         NaN           NaN
Agusta / AgustaWestland
                      manufacturer  model iata_group iata_category icao_code  \
iata_code
AGH        Agusta / AgustaWestland  A-109        AGH             H      A109

           nb_engines aircraft_type
iata_code
AGH               NaN             H
AgustaWestland
             manufacturer  model iata_group iata_category icao_code  \
iata_code
AWH        AgustaWestland  AW139        AWH            2T      A139

           nb_engines aircraft_type
iata_code
AWH               2.0             T
Airbus
          manufacturer                         model iata_group iata_category  \
iata_code
19D             Airbus                          A319        NaN           NaN
310             Airbus                          A310        NaN           NaN
312             Airbus                      A310-200        310            2J
313             Airbus                      A310-300        310            2J
318             Airbus                          A318        32S            2J
319             Airbus                          A319        32S            2J
31F             Airbus                         A310F        NaN           NaN
31W             Airbus              A319 (Sharklets)        NaN           NaN
31X             Airbus                     A310-200F        31F            2J
31Y             Airbus                     A310-300F        31F            2J
320             Airbus                  A320-100/200        32S            2J
321             Airbus                  A321-100/200        32S            2J
32A             Airbus              A320 (sharklets)        32S            2J
32B             Airbus              A321 (sharklets)        32S            2J
32C             Airbus              A318 (sharklets)        NaN           NaN
32D             Airbus              A319 (sharklets)        NaN           NaN
32F             Airbus                A320 Freighter        32F            2J
32X             Airbus                A321 Freighter        32X            2J
330             Airbus                          A330        NaN           NaN
332             Airbus                      A330-200        330            2J
333             Airbus                      A330-300        330            2J
33F             Airbus                A330 Freighter        NaN           NaN
33X             Airbus            A330-200 Freighter        33F            2J
340             Airbus                          A340        NaN           NaN
342             Airbus                      A340-200        340            4J
343             Airbus                      A340-300        340            4J
345             Airbus                      A340-500        340            4J
346             Airbus                      A340-600        340            4J
350             Airbus                          A350        NaN           NaN
351             Airbus                     A350-1000        350            2J
358             Airbus                      A350-800        350            2J
359             Airbus                      A350-900        350            2J
380             Airbus                          A380        NaN           NaN
388             Airbus                          A380        380            4J
38F             Airbus                         A380F        38F            4J
AB2             Airbus                        A300B2        NaN           NaN
AB3             Airbus                          A300        NaN           NaN
AB4             Airbus                  A300B2/B4/C4        AB3            2J
AB6             Airbus                      A300-600        AB3            2J
ABB             Airbus             A300-600ST Beluga        ABF            2J
ABF             Airbus                         A300F        NaN           NaN
ABM             Airbus  A300-600 Mixed Configuration        NaN           NaN
ABX             Airbus           A300C4/F4 Freighter        ABF            2J
ABY             Airbus                     A300-600F        ABF            2J

          icao_code  nb_engines aircraft_type
iata_code
19D             NaN         NaN           NaN
310             NaN         NaN           NaN
312            A310         2.0             J
313            A310         2.0             J
318            A318         2.0             J
319            A319         2.0             J
31F             NaN         NaN           NaN
31W             NaN         NaN           NaN
31X            A310         2.0             J
31Y            A310         2.0             J
320            A320         2.0             J
321            A321         2.0             J
32A            A320         2.0             J
32B            A321         2.0             J
32C             NaN         NaN           NaN
32D             NaN         NaN           NaN
32F            A320         2.0             J
32X            A321         2.0             J
330             NaN         NaN           NaN
332            A332         2.0             J
333            A333         2.0             J
33F             NaN         NaN           NaN
33X            A332         2.0             J
340             NaN         NaN           NaN
342            A342         4.0             J
343            A343         4.0             J
345            A345         4.0             J
346            A346         4.0             J
350             NaN         NaN           NaN
351            ZZZZ         2.0             J
358            ZZZZ         2.0             J
359            ZZZZ         2.0             J
380             NaN         NaN           NaN
388            A388         4.0             J
38F            A388         4.0             J
AB2             NaN         NaN           NaN
AB3             NaN         NaN           NaN
AB4            A30B         2.0             J
AB6            A306         2.0             J
ABB            A3ST         2.0             J
ABF             NaN         NaN           NaN
ABM             NaN         NaN           NaN
ABX            A30B         2.0             J
ABY            A306         2.0             J
Aircraft Industries (LET)
                        manufacturer            model iata_group  \
iata_code
L4F        Aircraft Industries (LET)  L-410 Freighter        L4F

          iata_category icao_code  nb_engines aircraft_type
iata_code
L4F                  2T      L410         2.0             T
Airtech
          manufacturer   model iata_group iata_category icao_code  nb_engines  \
iata_code
CS5            Airtech  CN-235        CS5            2T      CN35         2.0

          aircraft_type
iata_code
CS5                   T
Antonov
          manufacturer       model iata_group iata_category icao_code  \
iata_code
A22            Antonov       An-22        A22            4T      AN22
A38            Antonov       An-38        A38            2T      AN38
A58            Antonov      An-158        A58            2J      ZZZZ
A5F            Antonov      An-225        A5F            6J      A225
A81            Antonov  An-148-100        A81            2J      A148
AN2            Antonov        An-2        NaN           NaN       NaN

           nb_engines aircraft_type
iata_code
A22               4.0             T
A38               2.0             T
A58               2.0             J
A5F               6.0             J
A81               2.0             J
AN2               NaN           NaN
Antonow / Antonov
                manufacturer                    model iata_group  \
iata_code
A26        Antonow / Antonov                    An-26        AN6
A28        Antonow / Antonov  An-28 / PZL Mielec M-28        A28
A30        Antonow / Antonov                    An-30        AN6
A32        Antonow / Antonov                    An-32        AN6
A40        Antonow / Antonov                   An-140        A40
A4F        Antonow / Antonov                   An-124        A4F
AN4        Antonow / Antonov                    An-24        AN4
AN6        Antonow / Antonov    An-26 / An-30 / An-32        NaN
AN7        Antonow / Antonov            An-72 / An-74        AN7
ANF        Antonow / Antonov                    An-12        ANF

          iata_category icao_code  nb_engines aircraft_type
iata_code
A26                  2T      AN26         2.0             T
A28                  2T      AN28         2.0             T
A30                  2T      AN30         2.0             T
A32                  2T      AN32         2.0             T
A40                  2T      A140         2.0             T
A4F                  4J      A124         4.0             J
AN4                  2T      AN24         2.0             T
AN6                 NaN       NaN         NaN           NaN
AN7                  2J      AN72         2.0             J
ANF                  4T      AN12         4.0             T
Ayres
          manufacturer              model iata_group iata_category icao_code  \
iata_code
ALM              Ayres  LM-200 Loadmaster        NaN           NaN       NaN

           nb_engines aircraft_type
iata_code
ALM               NaN           NaN
BAC
          manufacturer              model iata_group iata_category icao_code  \
iata_code
B11                BAC         One Eleven        NaN           NaN       NaN
B12                BAC     One Eleven 200        B11            2J      BA11
B13                BAC     One Eleven 300        B11            2J      BA11
B14                BAC  One Eleven 400/47        B11            2J      BA11
B15                BAC     One Eleven 500        B11            2J      BA11

           nb_engines aircraft_type
iata_code
B11               NaN           NaN
B12               2.0             J
B13               2.0             J
B14               2.0             J
B15               2.0             J
BAe
          manufacturer                                model iata_group  \
iata_code
141                BAe                              146-100        146
142                BAe        BAE Systems 146-200 Passenger        146
143                BAe                              146-300        146
146                BAe                                  146        NaN
14F                BAe  146 Freighter (-100/200/300QT & QC)        NaN
14X                BAe          146 Freighter (-100QT & QC)        14F
14Y                BAe          146 Freighter (-200QT & QC)        14F
14Z                BAe          146 Freighter (-300QT & QC)        14F
APF                BAe                        ATP Freighter        APF
AR1                BAe                           Avro RJ100        ARJ
AR7                BAe                            Avro RJ70        ARJ
AR8                BAe                            Avro RJ85        ARJ
ARJ                BAe             Avro RJ70 / RJ85 / RJ100        NaN
ATP                BAe                                  ATP        ATP
HS7                BAe                               HS.748        HS7
J31                BAe                         Jetstream 31        JST
J32                BAe                         Jetstream 32        JST
J41                BAe                         Jetstream 41        JST
JST                BAe               Jetstream 31 / 32 / 41        NaN

          iata_category icao_code  nb_engines aircraft_type
iata_code
141                  4J      B461         4.0             J
142                  4J      B462         4.0             J
143                  4J      B463         4.0             J
146                 NaN       NaN         NaN           NaN
14F                 NaN       NaN         NaN           NaN
14X                  4J      B461         4.0             J
14Y                  4J      B462         4.0             J
14Z                  4J      B463         4.0             J
APF                  2T      ZZZZ         2.0             T
AR1                  4J      RJ1H         4.0             J
AR7                  4J      RJ70         4.0             J
AR8                  4J      RJ85         4.0             J
ARJ                 NaN       NaN         NaN           NaN
ATP                  2T       ATP         2.0             T
HS7                  2T      A748         2.0             T
J31                  2T      JS31         2.0             T
J32                  2T      JS32         2.0             T
J41                  2T      JS41         2.0             T
JST                 NaN       NaN         NaN           NaN
Beechcraft
          manufacturer                      model iata_group iata_category  \
iata_code
BE1         Beechcraft           1900/1900C/1900D        NaN           NaN
BE2         Beechcraft          Beech twin piston        BEC            2P
BE4         Beechcraft             Beechcraft 400        HBA            2J
BE9         Beechcraft             Beechcraft C99        BE9            2T
BEC         Beechcraft       Beech light aircraft        NaN           NaN
BEF         Beechcraft  Beechcraft 1900 Freighter        BEF            2T
BEH         Beechcraft                      1900D        BE1            2T
BEP         Beechcraft         Beech singe piston        BEC            1P
BES         Beechcraft                 1900/1900C        BE1            2T
BET         Beechcraft       Beech twin turboprop        BEC            2T

          icao_code  nb_engines aircraft_type
iata_code
BE1             NaN         NaN           NaN
BE2               *         2.0             P
BE4            BE40         2.0             J
BE9            BE99         2.0             T
BEC             NaN         NaN           NaN
BEF            B190         2.0             T
BEH            B190         2.0             T
BEP               *         1.0             P
BES            B190         2.0             T
BET               *         2.0             T
Bell Helicopter
              manufacturer             model iata_group iata_category  \
iata_code
BH2        Bell Helicopter  Bell Helicopters        BH2             H

          icao_code  nb_engines aircraft_type
iata_code
BH2               *         NaN             H
Boeing
          manufacturer                         model iata_group iata_category  \
iata_code
703             Boeing                       707-300        707            4J
707             Boeing                       707/720        NaN           NaN
70F             Boeing                 707 Freighter        70F            4J
70M             Boeing                     707 Combi        70M            4J
717             Boeing                           717        717            2J
721             Boeing                       727-100        727            3J
722             Boeing                       727-200        727            3J
727             Boeing                           727        NaN           NaN
72A             Boeing              727-200 Advanced        NaN           NaN
72B             Boeing                 727-100 Mixed        72M            3J
72C             Boeing                 727-200 Mixed        72M            3J
72F             Boeing      727 Freighter (-100/200)        NaN           NaN
72M             Boeing                     727 Combi        NaN           NaN
72S             Boeing                  727-200 Adv.        NaN           NaN
72W             Boeing            727-200 (winglets)        727            3J
72X             Boeing             727-100 Freighter        72F            3J
72Y             Boeing             727-200 Freighter        72F            3J
731             Boeing                       737-100        737            2J
732             Boeing                       737-200        737            2J
733             Boeing                       737-300        737            2J
734             Boeing                       737-400        737            2J
735             Boeing                       737-500        737            2J
736             Boeing                       737-600        737            2J
737             Boeing                           737        NaN           NaN
738             Boeing                       737-800        737            2J
739             Boeing                       737-900        737            2J
73A             Boeing              737-200 Advanced        NaN           NaN
73C             Boeing            737-300 (winglets)        737            2J
73E             Boeing            737-500 (winglets)        737            2J
73F             Boeing                 737 Freighter        NaN           NaN
...                ...                           ...        ...           ...
74X             Boeing             747-200 Freighter        74F            4J
74Y             Boeing             747-400 Freighter        74F            4J
752             Boeing                       757-200        757            2J
753             Boeing                       757-300        757            2J
757             Boeing                           757        NaN           NaN
75F             Boeing                 757 Freighter        75F            2J
75M             Boeing                     757 Mixed        75M            2J
75T             Boeing            757-300 (winglets)        757            2J
75W             Boeing            757-200 (winglets)        757            2J
762             Boeing                       767-200        767            2J
763             Boeing                       767-300        767            2J
764             Boeing                       767-400        767            2J
767             Boeing                           767        NaN           NaN
76F             Boeing                 767 Freighter        NaN           NaN
76V             Boeing  767-300 (winglets) Freighter        76F            2J
76W             Boeing            767-300 (winglets)        767            2J
76X             Boeing             767-200 Freighter        76F            2J
76Y             Boeing             767-300 Freighter        76F            2J
772             Boeing                       777-200        777            2J
773             Boeing                       777-300        777            2J
777             Boeing                           777        NaN           NaN
77F             Boeing                 777 Freighter        NaN           NaN
77L             Boeing                     777-200LR        777            2J
77W             Boeing                     777-300ER        777            2J
77X             Boeing            777-200F Freighter        77F            2J
783             Boeing                         787-3        787            2J

In [206]:
groups['nb_engines']

In [233]:
for k, group in groups['nb_engines']:
    print type(group)
    break # Solo le echamos un ojo al primer grupo, los demas seran iguales.

<class 'pandas.core.series.Series'>

In [234]:
# When grouping, we specify a column or columns to group by, then 
# a column or columns to 'select' and then an aggregation or aggregations:

by_manufacturer = aircraft_bien.groupby('manufacturer')
engines_by_manufacturer = by_manufacturer['nb_engines']
avg_engines_per_manufacturer = engines_by_manufacturer.mean()

In [218]:
engine_stats = engines_by_manufacturer.agg(['mean', 'std'])
engine_stats

                                    mean       std
manufacturer
ATR                             2.000000  0.000000
Aerospatiale / SNIAS            2.000000       NaN
Agusta / AgustaWestland              NaN       NaN
AgustaWestland                  2.000000       NaN
Airbus                          2.413793  0.824502
Aircraft Industries (LET)       2.000000       NaN
Airtech                         2.000000       NaN
Antonov                         3.200000  1.788854
Antonow / Antonov               2.444444  0.881917
Ayres                                NaN       NaN
BAC                             2.000000  0.000000
BAe                             3.200000  1.014185
Beechcraft                      1.875000  0.353553
Bell Helicopter                      NaN       NaN
Boeing                          2.698630  0.908065
Bombardier                      2.000000  0.000000
Britten Norman                  2.500000  0.707107
CASA                            2.000000       NaN
Canadair                        2.000000  0.000000
Cessna                          1.857143  0.363137
Comac                           2.000000       NaN
Convair                         2.000000  0.000000
Curtiss                         2.000000       NaN
DAHER-SOCATA                    1.000000       NaN
Dassault                        2.500000  0.534522
De Havilland                    3.000000  1.414214
De Havilland Canada             1.666667  1.211060
De Havilland Canada-Bombardier  2.000000  0.000000
De Havilland-Bombardier              NaN       NaN
Diamond Aircraft                2.000000       NaN
...                                  ...       ...
Helio                           1.000000       NaN
IAI                             2.000000       NaN
Ilyushin                        3.714286  0.755929
Junkers                         3.000000       NaN
LET                             2.000000       NaN
Learjet                         2.000000       NaN
Lockheed                        3.500000  0.547723
MBB                                  NaN       NaN
MD Helicopters                       NaN       NaN
McDonnell Douglas               2.470588  0.514496
Mil                                  NaN       NaN
Mitsubishi                      2.000000       NaN
NAMC                            2.000000       NaN
Nord / SNCAN                         NaN       NaN
Partenavia                      2.000000       NaN
Piaggio Aero                    2.000000       NaN
Pilatus                         1.000000  0.000000
Piper                           1.666667  0.577350
Rockwell                        2.000000  0.000000
Saab                            2.000000  0.000000
Shaanxi                         4.000000       NaN
Shorts                          2.000000  0.000000
Sikorsky                             NaN       NaN
Sud-Est                              NaN       NaN
Sukhoi                          2.000000  0.000000
Surface Equipment                    NaN       NaN
Tupolev                         2.200000  0.447214
Vickers                              NaN       NaN
Xian                            2.000000  0.000000
Yakovlev / Jakovlev             3.000000  0.000000

[75 rows x 2 columns]

In [225]:
engine_stats.sort_values(by=['mean', 'std'], ascending=False).head(10)

                         mean       std
manufacturer
Shaanxi              4.000000       NaN
Ilyushin             3.714286  0.755929
Lockheed             3.500000  0.547723
Antonov              3.200000  1.788854
BAe                  3.200000  1.014185
De Havilland         3.000000  1.414214
Yakovlev / Jakovlev  3.000000  0.000000
Junkers              3.000000       NaN
Douglas              2.947368  1.025978
Boeing               2.698630  0.908065

# Join

As before, very similar to sql.

In [230]:
# We need to specify what column we'll use to join the values on, 
# or pandas will try to use the indexes, which in this case are not compatible

aircraft_bien.join(avg_engines_per_manufacturer, rsuffix="_mean")

,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type,nb_engines_mean
iata_code,,,,,,,,
100,Fokker,100,100,2J,F100,2.0,J,NaN
141,BAe,146-100,146,4J,B461,4.0,J,NaN
142,BAe,BAE Systems 146-200 Passenger,146,4J,B462,4.0,J,NaN
143,BAe,146-300,146,4J,B463,4.0,J,NaN
146,BAe,146,NaN,NaN,NaN,NaN,NaN,NaN
14F,BAe,146 Freighter (-100/200/300QT & QC),NaN,NaN,NaN,NaN,NaN,NaN
14X,BAe,146 Freighter (-100QT & QC),14F,4J,B461,4.0,J,NaN
14Y,BAe,146 Freighter (-200QT & QC),14F,4J,B462,4.0,J,NaN
14Z,BAe,146 Freighter (-300QT & QC),14F,4J,B463,4.0,J,NaN
19D,Airbus,A319,NaN,NaN,NaN,NaN,NaN,NaN
310,Airbus,A310,NaN,NaN,NaN,NaN,NaN,NaN
312,Airbus,A310-200,310,2J,A310,2.0,J,NaN
313,Airbus,A310-300,310,2J,A310,2.0,J,NaN
318,Airbus,A318,32S,2J,A318,2.0,J,NaN
319,Airbus,A319,32S,2J,A319,2.0,J,NaN
31F,Airbus,A310F,NaN,NaN,NaN,NaN,NaN,NaN
31W,Airbus,A319 (Sharklets),NaN,NaN,NaN,NaN,NaN,NaN
31X,Airbus,A310-200F,31F,2J,A310,2.0,J,NaN
31Y,Airbus,A310-300F,31F,2J,A310,2.0,J,NaN
320,Airbus,A320-100/200,32S,2J,A320,2.0,J,NaN
321,Airbus,A321-100/200,32S,2J,A321,2.0,J,NaN
32A,Airbus,A320 (sharklets),32S,2J,A320,2.0,J,NaN
32B,Airbus,A321 (sharklets),32S,2J,A321,2.0,J,NaN
32C,Airbus,A318 (sharklets),NaN,NaN,NaN,NaN,NaN,NaN
32D,Airbus,A319 (sharklets),NaN,NaN,NaN,NaN,NaN,NaN
32F,Airbus,A320 Freighter,32F,2J,A320,2.0,J,NaN
32X,Airbus,A321 Freighter,32X,2J,A321,2.0,J,NaN
330,Airbus,A330,NaN,NaN,NaN,NaN,NaN,NaN
332,Airbus,A330-200,330,2J,A332,2.0,J,NaN
333,Airbus,A330-300,330,2J,A333,2.0,J,NaN
...,...,...,...,...,...,...,...,...
S76,Sikorsky,S-76,S76,H,S76,NaN,H,NaN
SF3,Saab,SF340A/B,SF3,2T,SF34,2.0,T,NaN
SFB,Saab,SF340B,SF3,2T,SF34,2.0,T,NaN
SFF,Saab,SF340 Freighter,SFF,2T,SF34,2.0,T,NaN
SH3,Shorts,SD.330,SH3,2T,SH33,2.0,T,NaN
SH6,Shorts,SD.360,SH6,2T,SH36,2.0,T,NaN
SHB,Shorts,SC-5 Belfast,NaN,NaN,NaN,NaN,NaN,NaN
SHS,Shorts,SC-7 Skyvan,SHS,2T,SC7,2.0,T,NaN
SSC,Aerospatiale / SNIAS,Concorde,NaN,NaN,NaN,NaN,NaN,NaN
SU1,Sukhoi,Superjet 100,NaN,NaN,NaN,NaN,NaN,NaN
SU7,Sukhoi,Superjet 100-75,SU1,2J,ZZZZ,2.0,J,NaN
SU9,Sukhoi,Superjet 100-95,SU1,2J,SU95,2.0,J,NaN
SWF,Fairchild-Swearingen,SA226 Freighter,SWF,2T,*,2.0,T,NaN
SWM,Fairchild-Swearingen,SA26 / SA226 / SA227 Metro / Merlin,SWM,2T,*,2.0,T,NaN
SY8,Shaanxi,Y-8,SY8,4T,AN12,4.0,T,NaN
T20,Tupolev,Tu-204 / Tu-214,T20,2J,T204,2.0,J,NaN
T2F,Tupolev,Tu-204 Freighter,T2F,2J,T204,2.0,J,NaN
T34,Tupolev,Tu-334,T34,2J,T334,2.0,J,NaN
TBM,DAHER-SOCATA,TBM-700,TBM,1T,TBM7,1.0,T,NaN
TRN,Surface Equipment,Train,TRN,S,0000,NaN,S,NaN
TU3,Tupolev,Tu-134,TU3,2J,T134,2.0,J,NaN
TU5,Tupolev,Tu-154,TU5,3J,T154,3.0,J,NaN
VCV,Vickers,Viscount,NaN,NaN,NaN,NaN,NaN,NaN
VCX,Vickers,VC-10,NaN,NaN,NaN,NaN,NaN,NaN
WWP,IAI,1124 Westwind,WWP,2J,WW24,2.0,J,NaN
YK2,Yakovlev / Jakovlev,Yak 42,YK2,3J,YK42,3.0,J,NaN
YK4,Yakovlev / Jakovlev,Yak 40,YK4,3J,YK40,3.0,J,NaN
YN2,HAMC / Harbin,Y12,YN2,2T,Y12,2.0,T,NaN
YN7,Xian,Yunshuji Y7,YN7,2T,AN24,2.0,T,NaN
YS1,NAMC,YS-11,YS1,2T,YS11,2.0,T,NaN

In [232]:
aircraft_bien.join(avg_engines_per_manufacturer, rsuffix="_mean", on='manufacturer')

,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type,nb_engines_mean
iata_code,,,,,,,,
100,Fokker,100,100,2J,F100,2.0,J,2.000000
141,BAe,146-100,146,4J,B461,4.0,J,3.200000
142,BAe,BAE Systems 146-200 Passenger,146,4J,B462,4.0,J,3.200000
143,BAe,146-300,146,4J,B463,4.0,J,3.200000
146,BAe,146,NaN,NaN,NaN,NaN,NaN,3.200000
14F,BAe,146 Freighter (-100/200/300QT & QC),NaN,NaN,NaN,NaN,NaN,3.200000
14X,BAe,146 Freighter (-100QT & QC),14F,4J,B461,4.0,J,3.200000
14Y,BAe,146 Freighter (-200QT & QC),14F,4J,B462,4.0,J,3.200000
14Z,BAe,146 Freighter (-300QT & QC),14F,4J,B463,4.0,J,3.200000
19D,Airbus,A319,NaN,NaN,NaN,NaN,NaN,2.413793
310,Airbus,A310,NaN,NaN,NaN,NaN,NaN,2.413793
312,Airbus,A310-200,310,2J,A310,2.0,J,2.413793
313,Airbus,A310-300,310,2J,A310,2.0,J,2.413793
318,Airbus,A318,32S,2J,A318,2.0,J,2.413793
319,Airbus,A319,32S,2J,A319,2.0,J,2.413793
31F,Airbus,A310F,NaN,NaN,NaN,NaN,NaN,2.413793
31W,Airbus,A319 (Sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
31X,Airbus,A310-200F,31F,2J,A310,2.0,J,2.413793
31Y,Airbus,A310-300F,31F,2J,A310,2.0,J,2.413793
320,Airbus,A320-100/200,32S,2J,A320,2.0,J,2.413793
321,Airbus,A321-100/200,32S,2J,A321,2.0,J,2.413793
32A,Airbus,A320 (sharklets),32S,2J,A320,2.0,J,2.413793
32B,Airbus,A321 (sharklets),32S,2J,A321,2.0,J,2.413793
32C,Airbus,A318 (sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
32D,Airbus,A319 (sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
32F,Airbus,A320 Freighter,32F,2J,A320,2.0,J,2.413793
32X,Airbus,A321 Freighter,32X,2J,A321,2.0,J,2.413793
330,Airbus,A330,NaN,NaN,NaN,NaN,NaN,2.413793
332,Airbus,A330-200,330,2J,A332,2.0,J,2.413793
333,Airbus,A330-300,330,2J,A333,2.0,J,2.413793
...,...,...,...,...,...,...,...,...
S76,Sikorsky,S-76,S76,H,S76,NaN,H,NaN
SF3,Saab,SF340A/B,SF3,2T,SF34,2.0,T,2.000000
SFB,Saab,SF340B,SF3,2T,SF34,2.0,T,2.000000
SFF,Saab,SF340 Freighter,SFF,2T,SF34,2.0,T,2.000000
SH3,Shorts,SD.330,SH3,2T,SH33,2.0,T,2.000000
SH6,Shorts,SD.360,SH6,2T,SH36,2.0,T,2.000000
SHB,Shorts,SC-5 Belfast,NaN,NaN,NaN,NaN,NaN,2.000000
SHS,Shorts,SC-7 Skyvan,SHS,2T,SC7,2.0,T,2.000000
SSC,Aerospatiale / SNIAS,Concorde,NaN,NaN,NaN,NaN,NaN,2.000000
SU1,Sukhoi,Superjet 100,NaN,NaN,NaN,NaN,NaN,2.000000
SU7,Sukhoi,Superjet 100-75,SU1,2J,ZZZZ,2.0,J,2.000000
SU9,Sukhoi,Superjet 100-95,SU1,2J,SU95,2.0,J,2.000000
SWF,Fairchild-Swearingen,SA226 Freighter,SWF,2T,*,2.0,T,2.000000
SWM,Fairchild-Swearingen,SA26 / SA226 / SA227 Metro / Merlin,SWM,2T,*,2.0,T,2.000000
SY8,Shaanxi,Y-8,SY8,4T,AN12,4.0,T,4.000000
T20,Tupolev,Tu-204 / Tu-214,T20,2J,T204,2.0,J,2.200000
T2F,Tupolev,Tu-204 Freighter,T2F,2J,T204,2.0,J,2.200000
T34,Tupolev,Tu-334,T34,2J,T334,2.0,J,2.200000
TBM,DAHER-SOCATA,TBM-700,TBM,1T,TBM7,1.0,T,1.000000
TRN,Surface Equipment,Train,TRN,S,0000,NaN,S,NaN
TU3,Tupolev,Tu-134,TU3,2J,T134,2.0,J,2.200000
TU5,Tupolev,Tu-154,TU5,3J,T154,3.0,J,2.200000
VCV,Vickers,Viscount,NaN,NaN,NaN,NaN,NaN,NaN
VCX,Vickers,VC-10,NaN,NaN,NaN,NaN,NaN,NaN
WWP,IAI,1124 Westwind,WWP,2J,WW24,2.0,J,2.000000
YK2,Yakovlev / Jakovlev,Yak 42,YK2,3J,YK42,3.0,J,3.000000
YK4,Yakovlev / Jakovlev,Yak 40,YK4,3J,YK40,3.0,J,3.000000
YN2,HAMC / Harbin,Y12,YN2,2T,Y12,2.0,T,2.000000
YN7,Xian,Yunshuji Y7,YN7,2T,AN24,2.0,T,2.000000
YS1,NAMC,YS-11,YS1,2T,YS11,2.0,T,2.000000